.titulo {
    padding: 3vw;
    border: 2px solid #696666;
    box-shadow: 4px 6px 12px rgb(65, 64, 64);
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lobster", sans-serif;
    font-style: normal;

    font-size: 2vw;
}

.botones{

    background-color: rgb(118, 219, 108);
    border: 3px solid black;
    padding: 1.6%;
    border-radius: 20%;

text-decoration: none;
    

}


.botones {
    
    color: white;
    border: none;

    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.botones:hover {
    
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botones:active {
   
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.a1{
    display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center;
  width: 80%;
  height: 40%;

}

.a2{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center;
    width: 80%;
height: 40%;
}


#a2{
    margin-top: 1.5%;
}

#a3{
    margin-top: 3.4%;
}

.s1{
    display: flex;
    margin-top: 5%;
}

.botones{

    margin-top: 5%;
    font-size: 2vw;


    font-family: "Kanit", sans-serif;
  font-weight: 450;
  font-style: normal;

}

.s2{
    display: flex;
   margin-top: 5%;
}






