.titulo {
    padding: 3vw;
    border: 2px solid #696666;
    box-shadow: 4px 6px 12px rgb(65, 64, 64);
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lobster", sans-serif;
    font-style: normal;

    font-size: 2vw;
}








.botones{

    background-color: rgb(118, 219, 108);
    border: 3px solid black;
    padding: 1.6%;
    border-radius: 20%;

    

}

#b1{
    margin-left: 10%;
    position: absolute;
}

#b2{

    margin-left: 44%;
    position: absolute;
}

#b3{

 margin-left: 75%;
 position: absolute;
}

.botones {
    
    
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.botones:hover {
    
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botones:active {
   
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#bn1{
margin-left: 26%;
position: absolute;
}

#bn2{
    margin-left: 65%;
    position: absolute;
}


.a1{

    border: 2px solid #696666;
   
    padding: 0px;
    margin: 3.6%;
    border-radius: 10%;
    margin-bottom: 1%;

}

.a2{
    border: 2px solid #696666;
    padding: 0px;
    margin-left : 17%;
    margin-right : 12%;
    border-radius: 10%;
    margin-bottom: 1%;

}

.a3{
    border: 2px solid #696666;
    padding: 0px;
 margin-left: 2%;
  
    border-radius: 10%;
    margin-bottom: 1%;
 
}
.ventana {
    display: none; /* Oculto por defecto */
    background: rgb(198, 198, 198);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 15px;
    min-height: 40px;
    border-radius: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    overflow: scroll;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: inherit;
}
